---
layout: default
title: Lectures and labs

---

I would like to thank Professor Sariel Har-Peled whose lectures I've based much of my own content on. These lectures are updated every semester to emphasize things I find important and match my voice. As a result, my lectures have diverged a good deal from the originals but I still have a soft spot for <a href="https://courses.engr.illinois.edu/cs374/fa2022/a/lec/lec_prerec/">Prof. Har-Peled's lectures</a> as well. 

{% comment %}
 <div class="card-columns">
    {% comment %}
    Sort the lectures by date, putting those without dates last
    {% endcomment %}
    {% assign lectures_by_date = site.lectures | sort: 'deliverydate', 'first' %}
    {% for l in lectures_by_date %}
        {% include lecture-card.html lecture=l %}
    {% endfor %}
</div>
{% endcomment %}

{% assign lectures_by_date = site.lectures | sort: 'deliverydate', 'first' %}
{% assign labs_by_date = site.labs | sort: 'deliverydate', 'first' %}


<section class="people row justify-content-between">
    <div class="col-md-7">
        <h3 class="pt-3"> Lectures </h3>
        {% for l in lectures_by_date %}
            {% include lecture-card.html lecture=l %}
        {% endfor %}
    </div>
    <div class="col-md-5">
        <h3 class="pt-3"> Labs </h3>
        {% for l in labs_by_date %}
            {% include lab-card.html lecture=l %}
        {% endfor %}
    </div>    
</section>